.minimized {
  position: fixed;
  top: 50%;
  left: 0px;
  z-index: 1;
  display: flex;
  max-height: calc(100% - 64px);
  padding-left: 24px;
  transform: translateY(-50%);
  transform-origin: left center;

  .list {
    width: 12px;
    border: none;
    box-shadow: none;
  }
}

.expanded {
  position: fixed;
  top: 50%;
  left: 0px;
  z-index: 2;
  display: flex;
  max-height: calc(100% - 64px);
  padding-left: 24px;
  transform: translateY(-50%);
  transform-origin: left center;

  .list {
    display: flex;
    flex-direction: column;
    min-width: 128px;
    max-width: 256px;
    padding: 8px 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    scrollbar-color: var(--border-primary) transparent !important;
    scrollbar-width: thin;
    background-color: var(--background-primary);
    border: 0.5px solid var(--border-primary);
    border-radius: 8px;
    box-shadow: var(--shadow-dropdown);
  }
}

.line {
  flex-shrink: 0;
  height: 1px;
  margin: 12px 0px;
  margin-left: auto;
  transition: all var(--duration-quick) var(--ease-in-out-cubic);

  &[data-selector="#H1"],
  &[data-selector="#H2"],
  &[data-selector="#H3"] {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-small);
    font-variation-settings: var(--font-weight-450);
    font-style: normal;
    line-height: normal;
    text-align: left;
    white-space: nowrap;

    &:hover {
      color: var(--text-primary);
    }
  }

  &[data-selector="#H1"] {
    width: 12px;
    background: var(--text-secondary);
  }

  &[data-selector="#H2"] {
    width: 8px;
    background: var(--text-secondary);
  }

  &[data-selector="#H3"] {
    width: 4px;
    background: var(--text-secondary);
  }

  &[data-active="true"] {
    width: 12px;
    height: 1.5px;
  }
}

.link {
  height: 24px;
  margin: auto 0px;
  line-height: 24px !important;
  transition: all var(--duration-quick) var(--ease-in-out-cubic);

  &[data-selector="#H1"],
  &[data-selector="#H2"],
  &[data-selector="#H3"] {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: normal;
    text-align: left;
    white-space: nowrap;

    &:hover {
      color: var(--text-primary);
    }
  }

  &[data-selector="#H1"] {
    padding-left: 12px;
  }

  &[data-selector="#H2"] {
    padding-left: 24px;
    color: var(--text-secondary);
  }

  &[data-selector="#H3"] {
    padding-left: 36px;
    color: var(--text-secondary);
  }
}
