.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: oklch(0 0 0 / 10%);
}

.popup {
  width: 60%;
}

.trigger {
  position: relative;
  width: 100%;
  cursor: zoom-in;
}

.popup,
.trigger {
  z-index: 100000;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  border-radius: 4px;
}
