.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* Extend past safe areas */
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);

  /* Extend the actual dimensions to cover safe areas */
  margin-top: calc(-1 * env(safe-area-inset-top));
  margin-right: calc(-1 * env(safe-area-inset-right));
  margin-bottom: calc(-1 * env(safe-area-inset-bottom));
  margin-left: calc(-1 * env(safe-area-inset-left));

  background-color: oklch(0 0 0 / 20%);

  @media (max-width: 768px) {
    backdrop-filter: blur(10px);
  }
}

.popup {
  width: 60%;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.trigger {
  position: relative;
  width: 100%;
  cursor: zoom-in;
}

.popup,
.trigger {
  z-index: 100000;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  border-radius: 4px;
}

.image {
  pointer-events: none;
  object-fit: cover;
}
