.shiki {
  position: relative;
  width: 100%;
  padding: 12px;
  overflow-x: scroll;
  background-color: var(--shiki-light-bg);
  border: 1px solid var(--border-primary);
  border-radius: 8px;

  .line {
    span {
      font-family: var(--font-mono);
      font-size: 12px;
      line-height: 18px;
      color: var(--shiki-light);
    }
  }

  &[data-line-numbers] {
    counter-reset: line;

    .line::before {
      display: inline-block;
      width: 12px;
      margin-right: 16px;
      font-family: var(--font-mono);
      font-size: 12px;
      line-height: 18px;
      color: color-mix(in srgb, var(--shiki-light) 20%, transparent);
      text-align: right;
      content: counter(line);
      counter-increment: line;
    }
  }

  &[data-line-numbers-max-digits="2"] {
    > [data-line]::before {
      width: 1.25rem;
    }
  }

  &[data-line-numbers-max-digits="3"] {
    > [data-line]::before {
      width: 1.75rem;
    }
  }

  &[data-line-numbers-max-digits="4"] {
    > [data-line]::before {
      width: 2.25rem;
    }
  }
}
